<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:security="http://www.springframework.org/schema/security" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security.xsd">
       
 <!-- New Spring Security implementation --> 
<security:http auto-config="true" >
<security:intercept-url access="ROLE_ADMIN" pattern="/admin"/> 
<security:intercept-url access="ROLE_USER" pattern="/user"/> 

<security:form-login password-parameter="password" username-parameter="username" 
authentication-failure-url="/loginpage?error" default-target-url="/" login-page="/loginpage"/>

<security:logout logout-success-url="/loginpage?logout"/> 


<security:csrf disabled="true"/> 
</security:http> 
<security:authentication-manager> 
<security:authentication-provider> 

<!-- <security:user-service>
<security:user name="kavya" password="12345" authorities="ROLE_USER"/>
</security:user-service> -->
<security:jdbc-user-service data-source-ref="dataSource" users-by-username-query="SELECT name, pswd, id FROM User WHERE name=?"
 authorities-by-username-query="SELECT name,role,id From User WHERE name=?" /> 
</security:authentication-provider>
</security:authentication-manager>
   
    
</beans>